@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
}

body{
	background-color: #FFF;
	font-family: 'Do Hyeon', sans-serif;
}

h2{
	font-family: 'Do Hyeon', sans-serif;  /*폰트 : 도현체*/
}

div#wrapper {
    width: 60%;
    margin: 0 auto;
    height: 100%;
}

div#wrapper_write {
    width: 30%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    font-family: 'Do Hyeon';
}

.bokyung_write_text{
	padding : 1px 10px 0px 10px;
	margin: 10px 10px 10px 10px;
	width: 400px;
	height: 35px;
	background-color: #DFDFEB; 
	font-family: 'Do Hyeon', sans-serif; 
	border:0;
	font-size: 14pt;
	color: #666;
	vertical-align: middle;
	border-color: white;"
}

.bokyung_write_textarea{
	padding : 10px 10px 10px 10px;
	margin: 10px;
	width: 400px;
	height: 200px;
	background-color: #DFDFEB; 
	font-family: 'Do Hyeon', sans-serif; 
	border:0;
	font-size: 14pt;
	color: #666;
	vertical-align: middle;
	border-color: white;"
}

.accordion {							/* 아코디언 칸 */
  background-color: #FFF;
  cursor: pointer;
  padding: 20px 20px 18px 20px;
  border: none;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 12pt;
  transition: 0.4s;
  box-shadow: 3px 3px 5px 3px #D5d5d5;
  font-family: 'Do Hyeon', sans-serif;
  color : #777;
}

.active, .accordion:hover {			/*마우스 올렸을때*/
  background-color: #7a7ebf;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 15pt;
  color : white;
  padding: 25px 25px 23px 25px;
  
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {							/*클릭 후 상세내용*/
  padding: 0 18px;
  background-color: #DFDFEB;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: 'Gothic A1', sans-serif;
  font-size: 12pt;
  color : #666;
}

.panel p {
	padding: 1em;
}

p.date {						/*날짜 */
    font-size: 12pt;
    float: right;
}

p.content{							
}

div#paging {
    width: 200px;
    margin: 10px auto;
	text-align: center;
}

.bokyung_button_qna {
	float: right;
	margin : 0px 10px 20px 10px ;
	padding: 5px;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 13pt;
	background-color: #0F168C;
	color: white;
	border: 0;
	border-radius: 30px;
	vertical-align: middle;
	width: 100px;
	cursor:pointer;
}

.bokyung_button1 {
	padding: 10px;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 14pt;
	background-color: #0F168C;
	color: white;
	border: 0;
	border-radius: 30px;
	vertical-align: middle;
	width: 130px;
}